-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "Token" (
    "id" TEXT NOT NULL,
    "mintAddress" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "symbol" TEXT NOT NULL,
    "decimals" INTEGER NOT NULL DEFAULT 9,
    "totalSupply" TEXT NOT NULL,
    "description" TEXT,
    "imageUrl" TEXT,
    "creatorWallet" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "Token_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Transaction" (
    "id" TEXT NOT NULL,
    "signature" TEXT,
    "tokenId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "walletAddress" TEXT NOT NULL,
    "amount" TEXT NOT NULL,
    "solAmount" TEXT,
    "price" TEXT,
    "networkFeeLamports" TEXT,
    "networkFeeSol" TEXT,
    "jitoTipSol" TEXT,
    "priorityFeeSolBudget" TEXT,
    "error" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Transaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VolumeBotPair" (
    "id" TEXT NOT NULL,
    "tokenId" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT false,
    "minAmount" TEXT NOT NULL,
    "maxAmount" TEXT NOT NULL,
    "intervalSeconds" INTEGER NOT NULL,
    "numberOfWallets" INTEGER NOT NULL DEFAULT 1,
    "randomDelays" BOOLEAN NOT NULL DEFAULT true,
    "antiDetection" BOOLEAN NOT NULL DEFAULT true,
    "totalTrades" INTEGER NOT NULL DEFAULT 0,
    "totalVolume" TEXT NOT NULL DEFAULT '0',
    "solSpent" TEXT NOT NULL DEFAULT '0',
    "status" TEXT NOT NULL DEFAULT 'stopped',
    "lastRunAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VolumeBotPair_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VolumeBotSettings" (
    "id" TEXT NOT NULL,
    "pairId" TEXT NOT NULL,
    "mode" TEXT NOT NULL DEFAULT 'wash',
    "amountMode" TEXT NOT NULL DEFAULT 'random',
    "fixedAmount" TEXT NOT NULL DEFAULT '0.01',
    "minAmount" TEXT NOT NULL DEFAULT '0.005',
    "maxAmount" TEXT NOT NULL DEFAULT '0.02',
    "minPercentage" TEXT NOT NULL DEFAULT '5',
    "maxPercentage" TEXT NOT NULL DEFAULT '20',
    "slippage" TEXT NOT NULL DEFAULT '10',
    "priorityFee" TEXT NOT NULL DEFAULT '0.005',
    "jitoTip" TEXT NOT NULL DEFAULT '0.0001',
    "jitoRegion" TEXT NOT NULL DEFAULT 'frankfurt',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VolumeBotSettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BotLog" (
    "id" TEXT NOT NULL,
    "pairId" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'info',
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BotLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Bundle" (
    "id" TEXT NOT NULL,
    "bundleId" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "txCount" INTEGER NOT NULL,
    "successCount" INTEGER NOT NULL DEFAULT 0,
    "failedCount" INTEGER NOT NULL DEFAULT 0,
    "gasUsed" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "Bundle_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BundleTransaction" (
    "id" TEXT NOT NULL,
    "bundleId" TEXT NOT NULL,
    "tokenId" TEXT,
    "walletAddress" TEXT NOT NULL,
    "amount" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "signature" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BundleTransaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Stats" (
    "id" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "activeTokens" INTEGER NOT NULL DEFAULT 0,
    "totalVolume24h" TEXT NOT NULL DEFAULT '0',
    "bundledTxs" INTEGER NOT NULL DEFAULT 0,
    "holdersGained" INTEGER NOT NULL DEFAULT 0,
    "volumeBotTrades" INTEGER NOT NULL DEFAULT 0,
    "volumeBotVolume" TEXT NOT NULL DEFAULT '0',

    CONSTRAINT "Stats_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Wallet" (
    "id" TEXT NOT NULL,
    "publicKey" TEXT NOT NULL,
    "secretKey" TEXT NOT NULL,
    "label" TEXT,
    "solBalance" TEXT NOT NULL DEFAULT '0',
    "tokenBalance" TEXT NOT NULL DEFAULT '0',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Wallet_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WalletGroup" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "type" TEXT NOT NULL DEFAULT 'custom',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WalletGroup_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WalletGroupWallet" (
    "id" TEXT NOT NULL,
    "groupId" TEXT NOT NULL,
    "walletId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "WalletGroupWallet_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Token_mintAddress_key" ON "Token"("mintAddress");

-- CreateIndex
CREATE INDEX "Token_creatorWallet_idx" ON "Token"("creatorWallet");

-- CreateIndex
CREATE INDEX "Token_createdAt_idx" ON "Token"("createdAt");

-- CreateIndex
CREATE INDEX "Token_mintAddress_idx" ON "Token"("mintAddress");

-- CreateIndex
CREATE INDEX "Token_deletedAt_idx" ON "Token"("deletedAt");

-- CreateIndex
CREATE UNIQUE INDEX "Transaction_signature_key" ON "Transaction"("signature");

-- CreateIndex
CREATE INDEX "Transaction_tokenId_idx" ON "Transaction"("tokenId");

-- CreateIndex
CREATE INDEX "Transaction_walletAddress_idx" ON "Transaction"("walletAddress");

-- CreateIndex
CREATE INDEX "Transaction_createdAt_idx" ON "Transaction"("createdAt");

-- CreateIndex
CREATE INDEX "Transaction_type_idx" ON "Transaction"("type");

-- CreateIndex
CREATE INDEX "VolumeBotPair_tokenId_idx" ON "VolumeBotPair"("tokenId");

-- CreateIndex
CREATE INDEX "VolumeBotPair_isActive_idx" ON "VolumeBotPair"("isActive");

-- CreateIndex
CREATE INDEX "VolumeBotPair_status_idx" ON "VolumeBotPair"("status");

-- CreateIndex
CREATE UNIQUE INDEX "VolumeBotSettings_pairId_key" ON "VolumeBotSettings"("pairId");

-- CreateIndex
CREATE INDEX "VolumeBotSettings_pairId_idx" ON "VolumeBotSettings"("pairId");

-- CreateIndex
CREATE INDEX "BotLog_pairId_idx" ON "BotLog"("pairId");

-- CreateIndex
CREATE INDEX "BotLog_type_idx" ON "BotLog"("type");

-- CreateIndex
CREATE INDEX "BotLog_createdAt_idx" ON "BotLog"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "Bundle_bundleId_key" ON "Bundle"("bundleId");

-- CreateIndex
CREATE INDEX "Bundle_status_idx" ON "Bundle"("status");

-- CreateIndex
CREATE INDEX "Bundle_createdAt_idx" ON "Bundle"("createdAt");

-- CreateIndex
CREATE INDEX "BundleTransaction_bundleId_idx" ON "BundleTransaction"("bundleId");

-- CreateIndex
CREATE INDEX "BundleTransaction_walletAddress_idx" ON "BundleTransaction"("walletAddress");

-- CreateIndex
CREATE UNIQUE INDEX "Stats_date_key" ON "Stats"("date");

-- CreateIndex
CREATE INDEX "Stats_date_idx" ON "Stats"("date");

-- CreateIndex
CREATE UNIQUE INDEX "Wallet_publicKey_key" ON "Wallet"("publicKey");

-- CreateIndex
CREATE INDEX "Wallet_publicKey_idx" ON "Wallet"("publicKey");

-- CreateIndex
CREATE INDEX "Wallet_isActive_idx" ON "Wallet"("isActive");

-- CreateIndex
CREATE INDEX "Wallet_createdAt_idx" ON "Wallet"("createdAt");

-- CreateIndex
CREATE INDEX "WalletGroup_type_idx" ON "WalletGroup"("type");

-- CreateIndex
CREATE INDEX "WalletGroup_isActive_idx" ON "WalletGroup"("isActive");

-- CreateIndex
CREATE INDEX "WalletGroupWallet_groupId_idx" ON "WalletGroupWallet"("groupId");

-- CreateIndex
CREATE INDEX "WalletGroupWallet_walletId_idx" ON "WalletGroupWallet"("walletId");

-- CreateIndex
CREATE INDEX "WalletGroupWallet_groupId_walletId_idx" ON "WalletGroupWallet"("groupId", "walletId");

-- CreateIndex
CREATE UNIQUE INDEX "WalletGroupWallet_groupId_walletId_key" ON "WalletGroupWallet"("groupId", "walletId");

-- AddForeignKey
ALTER TABLE "Transaction" ADD CONSTRAINT "Transaction_tokenId_fkey" FOREIGN KEY ("tokenId") REFERENCES "Token"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VolumeBotPair" ADD CONSTRAINT "VolumeBotPair_tokenId_fkey" FOREIGN KEY ("tokenId") REFERENCES "Token"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VolumeBotSettings" ADD CONSTRAINT "VolumeBotSettings_pairId_fkey" FOREIGN KEY ("pairId") REFERENCES "VolumeBotPair"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BotLog" ADD CONSTRAINT "BotLog_pairId_fkey" FOREIGN KEY ("pairId") REFERENCES "VolumeBotPair"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BundleTransaction" ADD CONSTRAINT "BundleTransaction_bundleId_fkey" FOREIGN KEY ("bundleId") REFERENCES "Bundle"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BundleTransaction" ADD CONSTRAINT "BundleTransaction_tokenId_fkey" FOREIGN KEY ("tokenId") REFERENCES "Token"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WalletGroupWallet" ADD CONSTRAINT "WalletGroupWallet_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES "WalletGroup"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WalletGroupWallet" ADD CONSTRAINT "WalletGroupWallet_walletId_fkey" FOREIGN KEY ("walletId") REFERENCES "Wallet"("id") ON DELETE CASCADE ON UPDATE CASCADE;

